@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza Store</title>
</head>
<body>
    <script defer src="js/main.js"></script>
    <h1>Bizza Store</h1>
</body>
</html>